$primary1: #018ABD;
$primary2: #97bcdc;
$secondary1: #2a3568;
$bg: #090f22;
$bg2: #1a213b;
$bg3: #151b30;
$lightbg: #e5ebf0;
@font-face {
    font-family: Bebas Neue;
    src: url(../font/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: Kanit;
    src: url(../font/Kanit-Regular.ttf);
}
@font-face {
    font-family: Varela Round;
    src: url(../font/VarelaRound-Regular.ttf);
}
@media (prefers-color-scheme: dark) {
    body {
        background: linear-gradient(45deg,$bg,$bg2) no-repeat fixed;
        color: white;
    }
    h2{
        color: $primary2;
    }
    nav,footer{
        background-color: $bg3;
        box-shadow: 0 0 50px $bg;
    }
    ::-webkit-scrollbar{
        background: #11162a;
    }
    ::-webkit-scrollbar-thumb{
        background: $bg2;
        border-radius: 10px;
        box-shadow: 0 20px 20px $bg;
    }
    .text{
        background-color: $bg2;
        border: none;
    }
    .text:hover, .text:focus{
        outline: none;
        border: solid 2px $primary1;
    }
    form input{
        color: $primary2;
    }
    .name{
        background-color: $secondary1;
        .square{
            background-color: $secondary1;
        }
        span{
            color: white;
        }

    }        
    img{
        filter: drop-shadow(0 5px 15px $bg);
    }
    button{
        background-color: $bg2;
    }
    #navBottom{
        background-color: $bg3;
    }
    .bottom{
        border-bottom: 1px solid $bg2;
    }
    #navDropdown:active{
        background-color: $bg2 !important;
        transform: translateY(-10px);
    }
}
@media(prefers-color-scheme: light){
    body{
        background: linear-gradient(45deg,#fff,$lightbg) no-repeat fixed;
    }
    h2{
        color: $secondary1;
    }
    nav,footer{
        background-color: $lightbg;
        box-shadow: 0 0 50px $primary2;
    }
    ::-webkit-scrollbar{
        background: $lightbg;
    }
    ::-webkit-scrollbar-thumb{
        background: rgb(244, 247, 246);
        border-radius: 10px;
        box-shadow: 0 20px 20px $primary2;
    }
    .text{
        background-color: $lightbg;
        border: solid 2px $primary1;
        color: $secondary1;
    }
    .text:hover, .text:focus{
        outline: none;
        border: solid 2px $secondary1;
    }
    .text-container{
      .name{
        background-color: $primary2;
        .square{
            background-color: $primary2;
        }
        span{
            color: $secondary1;
        }
        }
        img{
            filter: drop-shadow(0 5px 15px $primary2);
        }  
    }
    #navBottom{
        background-color: $lightbg;
    }
    #navDropdown{
        background-color: transparent;
    }
    .bottom{
        border-bottom: 1px solid $primary1;
    }
    .navbar-toggler-icon{
        filter: invert(100%)
    }
    #navDropdown:active{
        transform: translateY(-10px);
    }
}
@media (max-width: 500px){
    .nav{
        display: none;
    }
    #name{
        display: none;
    }
    #navDropdown{
        display: block !important;
    }
    .slides{
        flex-wrap: wrap;
        .slide{
            width: 33% !important;
        }
    }
    form{
        div{
            flex-wrap: wrap;
            margin: 5px;
        }
        input,textarea{
            margin: 5px;
            width: 80%;
        }
        input{
            transform: translateX(-5px);
        }
        button{
            width: 50%;
            margin: 10px;
        }
    }
    #contact a{
        margin: 5px auto;
    }
    .separator{
        height: 100px !important;
    }
    h1{
        font-size: 76px !important;
    }
}
@media (min-width: 500px) and (max-width: 768px) {
    nav{
        display: block;
    }
    #name{
        display: none;
    }
    .center{
        left: 10%;
    }
    .wrapper{
        opacity: 0;
    }
    .slides{
        flex-wrap: wrap;
    }
    form{
        div{
            flex-wrap: wrap;
            margin: 5px;
        }
        input,textarea{
            margin: 5px;
            width: 80%;
        }
        input{
            transform: translateX(-5px);
        }
        button{
            width: 50%;
        }
    }
}
@media (min-width: 768px) and (max-width: 1140px){
    form input{
        width: 40%;
        margin: 0 2px 3px 0;
    }
    .slides{
        flex-wrap: wrap;
    }
    button{
        width: 30%;
    }
}
@media(min-width: 1140px){
    form{
        input{
            width: 30%;
            height: 50px;
            box-sizing: border-box;
            margin: 5px 2.5px;
        }
        div{
            flex-wrap: wrap;
        }
        button{
            width: 20%;
        }
    }
    textarea{
        width: 60% !important;
    }
    #contact a{    
        margin: 10px 50px;
    }
    .slides.slide{
        width: auto;
    }
}
.separator{
     height: 200px;
}
textarea{
    width: 80%;
    height: 250px;
    resize: none;
    justify-self: center;
    color: $primary2;
}
h1{
    font: 500 108px Bebas Neue;
    color: $primary1;
    text-transform: uppercase;
    text-shadow: 0 2px 50px #45b8e178;
    animation: title 1s;
}
h2{
    font: 500 60px Kanit;
}
h3,p{
    font: normal 28px Varela Round;
    color: #527eb0;
}
p{
    font-size: 20px;
}
a{
    text-decoration: none;
    margin: 0 14px;
    color: $primary1 !important;
}
a:hover,.active{
    color: $primary2 !important;
}
section{
    margin: 10%;
    height: fit-content;
}
.text{
    border-radius: 10px;
    transition: ease-in, .5s;
    padding: 20px;
}
button{
    border: none;
    border-radius: 5px;
    height: 50px;
    margin: 1%;
    transition: ease-in, .5s;
}
form button:hover{
    background-color: $primary2;
    transform: translateY(-5px);
}
.text-container{
    img{
        width: 75%;
        transition: ease-in-out, .5s;
    }
    .name{
        border-radius: 20px;
        text-align: center;
        margin: 10px 0;
        width: 120px;
        opacity: 0;
        transition: ease-in, .3s;
        span{
            position: relative;
            bottom: 25%;
        }
        .square{
            display: box;
            width: 20px;
            height: 20px;
            position: relative;
            transform: translateX(50px) translateY(30px) rotateZ(45deg);
            z-index: -1;
        }
    }
}
.text-container:hover{
    img{
        filter: drop-shadow(10px 10px 30px $secondary1); 
    }
    .name{
        opacity: 1;
    }
}
.slide{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: ease-in, .5s;
}
.slide:hover{
    transform: translateY(-5px);
}
#name{
    color: $primary1;
    margin-left: 25px;
    font-size: 30px;
    animation: appear-left 1s;
}
#contact a{
    font-size: 18px;
}
footer p{
    text-align: center;
    padding: 30px;
    width: 100%;
    margin: 5px 0; 
}
.primary{
    background-color: $primary1;
    color: $lightbg;
}
.secondary{
    border: 3px solid $primary1;
    color: $primary1;
}
#navDropdown{
    display: none;
    width: 50px;
    height: 50px;
}
#navBottom{
    width: 100%;
    height: 200px;
    position: sticky;
    top: 75px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    transform: translateY(-100%);
    transition: 0.5s ease-in-out;
    border-bottom: 3px solid $primary1;
}
.bottom{
    display: flex;
    flex-direction: column;
    height: 30%;
    margin: 5px;
    text-align: center;
    font-size: 18px;
    justify-content: center;
}
@keyframes appear-left {
    from{
        transform: translateX(-100px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 100%;
    }
}
@keyframes title{
    0%{
        transform: scaleY(-1);
        text-shadow: none;
    }
    50%{
        transform: scaleY(1);
        text-shadow: none;
    }
    100%{
        text-shadow: 0 2px 50px #45b8e178;
    }
}
