$primary1: #018ABD;
$primary2: #97bcdc;
$secondary1: #2a3568;
$bg: #090f22;
$bg2: #1a213b;
$bg3: #151b30;
$lightbg: #e5ebf0;
@font-face {
    font-family: Bebas Neue;
    src: url(../font/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: Kanit;
    src: url(../font/Kanit-Regular.ttf);
}
@font-face {
    font-family: Varela Round;
    src: url(../font/VarelaRound-Regular.ttf);
}
@media (prefers-color-scheme: dark) {
    body {
        background: linear-gradient(45deg,$bg,$bg2) no-repeat fixed;
        color: white;
    }
    h2{
        color: $primary2;
    }
    nav,footer{
        background-color: $bg3;
        box-shadow: 0 0 50px $bg;
    }
    ::-webkit-scrollbar{
        background: #11162a;
    }
    ::-webkit-scrollbar-thumb{
        background: $bg2;
        border-radius: 10px;
        box-shadow: 0 20px 20px $bg;
    }
    .text{
        background-color: $bg2;
        border: none;
    }
    .text:hover, .text:focus{
        outline: none;
        border: solid 2px $primary1;
    }
    input[type=text], input[type=email]{
        color: $primary2;
    }
    .name{
        background-color: $secondary1;
        .square{
            background-color: $secondary1;
        }
        span{
            color: white;
        }

    }        
    img{
        filter: drop-shadow(0 5px 15px $bg);
    }
    button{
        background-color: $bg2;
    }
}
@media(prefers-color-scheme: light){
    body{
        background: linear-gradient(45deg,#fff,$lightbg) no-repeat fixed;
    }
    h2{
        color: $secondary1;
    }
    nav,footer{
        background-color: $lightbg;
        box-shadow: 0 0 50px $primary2;
    }
    ::-webkit-scrollbar{
        background: $lightbg;
    }
    ::-webkit-scrollbar-thumb{
        background: rgb(244, 247, 246);
        border-radius: 10px;
        box-shadow: 0 20px 20px $primary2;
    }
    .text{
        background-color: $lightbg;
        border: solid 2px $primary1;
        color: $secondary1;
    }
    .text:hover, .text:focus{
        outline: none;
        border: solid 2px $secondary1;
    }
    .text-container{
      .name{
        background-color: $primary2;
        .square{
            background-color: $primary2;
        }
        span{
            color: $secondary1;
        }
        }
        img{
            filter: drop-shadow(0 5px 15px $primary2);
        }  
    }
}
@media only screen and (max-width: 768px) {
    #name{
        display: none;
    }
    .center{
        position: absolute;
        left: 10%;
    }
    #img{
        opacity: 0;
    }
}

header{
    width: 100%;
}
h1{
    font: 500 108px Bebas Neue;
    color: $primary1;
    text-transform: uppercase;
    text-shadow: 0 2px 50px #45b8e178;
    animation: title 1s;
}
h2{
    font: 500 60px Kanit;
}
h3,p{
    font: normal 28px Varela Round;
    color: #527eb0;
}
p{
    font-size: 20px;
}
a{
    text-decoration: none;
    margin: 0 14px;
    color: $primary1 !important;
}
a:hover,.active{
    color: $primary2 !important;
}
section{
    margin: 10%;
}
input[type=text], input[type=email]{
    width: 30%;
    height: 50px;
    margin: 0 2px 3px 0;
    box-sizing: border-box;
}
textarea{
    width: 60%;
    height: 250px;
    resize: none;
    justify-self: center;
    color: $primary2;
}
.text{
    border-radius: 10px;
    transition: ease-in, .5s;
    padding: 20px;
}
button{
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 20%;
    margin: 1%;
    transition: ease-in, .5s;
}
button:hover{
    background-color: $primary2;
}
.text-container{
    img{
        width: 75%;
        transition: ease-in-out, .5s;
    }
    .name{
        border-radius: 20px;
        text-align: center;
        margin: 10px 0;
        width: 120px;
        opacity: 0;
        transition: ease-in, .3s;
        span{
            position: relative;
            bottom: 25%;
        }
        .square{
            display: box;
            width: 20px;
            height: 20px;
            position: relative;
            transform: translateX(50px) translateY(30px) rotateZ(45deg);
            z-index: -1;
        }
    }
}
.text-container:hover{
    img{
        filter: drop-shadow(10px 10px 30px $secondary1); 
    }
    .name{
        opacity: 1;
    }
}
.separator{
    height: 200px;
}
.slide{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#name{
    color: $primary1;
    margin-left: 25px;
    font-size: 30px;
    animation: appear-left 1s;
}
#contact{
    a{
        margin: 10px 50px !important;
        font-size: 18px;
    }
}
footer{
    *{
        margin: 5px 0;
    }
    p{
        text-align: center;
        padding: 30px;
        width: 33%;
        margin-left: 33%;
    }
}
.primary{
    background-color: $primary1;
    color: $lightbg;
}
.secondary{
    border: 3px solid $primary1;
    color: $primary1;
}
@keyframes appear-left {
    from{
        transform: translateX(-100px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 100%;
    }
}
@keyframes title{
    0%{
        transform: scaleY(-1);
        text-shadow: none;
    }
    50%{
        transform: scaleY(1);
        text-shadow: none;
    }
    100%{
        text-shadow: 0 2px 50px #45b8e178;
    }
}
