$primary: #008ee6;
$dark: #0d1b2a;
$text: #a7bcd8;
@mixin primaryColor{
    color: $primary;
}
@mixin text {
    color: $text;
}
.navbarLink{
    font-family: 'Montserrat', sans-serif;
    @include primaryColor();
    font-weight: 600;
    &:hover{
        @include text();
    }
}
header{
    width: 100% !important;
    z-index: 2000;
}
h3,p,.bold,span{
    @include text();
}
.p,h1,h2{
    @include primaryColor();
}
.input{
    @include primaryColor();
    border: none;
    border-bottom: solid 1px $text;
    border-radius: 0;
    font-weight: 600;
    &::placeholder{
        @include text();
        opacity: 50%;
    }
    &:focus{
        border: none;
        border-bottom: solid 1px $text;
        border-radius: 0;
        outline: none;
    }
}

.slide{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: ease-in, .5s;
    img{
        width: 75%;
        transition: ease-in-out, .5s;
        filter: drop-shadow(0 0 10px #00000055); 
    }
    .name{
        z-index: 10;
        background-color: $dark;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        text-align: center;
        margin: 10px 0;
        width: 120px;
        opacity: 0;
        transition: ease-in, .3s;
        span{
            position: relative;
            bottom: 25%;
        }
        .square{
            background-color: $dark;
            display: box;
            width: 20px;
            height: 20px;
            position: relative;
            transform: translateX(50px) translateY(30px) rotateZ(45deg);
            z-index: 9;
        }
    }
    &:hover{
        transform: translateY(-5px);
        img{
            filter: drop-shadow(10px 10px 30px #ffffff22); 
        }
        .name{
            opacity: 1;
        }
    }
}
.active{
    color:$text;
}
#navBottom{
    display: none;
}
#navDropdown{
    display: none;
    width: 50px;
    height: 50px;
    margin: 5px 20px 0 0;
    padding: 0;
    background-color: transparent;
    div{
        width: 100%;
        height: 100%;
        filter:invert(62%) sepia(60%) saturate(7251%) hue-rotate(180deg) brightness(95%) contrast(101%);
    }
}
.slider{
    min-width: 500px;
}
.mobile{
    display: block;
    height: 500px;
}

@media(max-width: 600px) {
    p,a{
        font-size: 120% !important;
    }
    #navDropdown{
        display: block;
        height: 40px !important;
        width: 40px !important;
        &:active{
            transform: translateY(10px);
        }
    }
    #navBottom{
        display: block;
    }
    .navbar{
        display: none;
    }
    .slider{
        min-width: 80vw;
    }   
    .slide{width: 30%;}
    .mobile{display: none;}
    header{
        height: 70px;
        padding-bottom: 5px;
        padding-top: 0;
        img{
            height: 50px;
            width: 50px;
        }
    }
}
.input.column{
    min-width: 240px;
}
#navBottom{
    height: 400px;
    top: 150px;
    z-index: 2;
    transform: translateY(-200%);
    transition: 0.5s ease-in-out;
    border-bottom: 3px solid $primary;
    background-color: $dark;
    .bottom{
        height: 30%;
        margin: 5px;
        font-size: 18px;
    }
}
