@font-face {
  font-family: Bebas Neue;
  src: url(../font/BebasNeue-Regular.ttf);
}
@font-face {
  font-family: Kanit;
  src: url(../font/Kanit-Regular.ttf);
}
@font-face {
  font-family: Varela Round;
  src: url(../font/VarelaRound-Regular.ttf);
}
@media (prefers-color-scheme: dark) {
  body {
    background: linear-gradient(45deg, #090f22, #1a213b) no-repeat fixed;
    color: white;
  }
  h2 {
    color: #97bcdc;
  }
  nav, footer {
    background-color: #151b30;
    box-shadow: 0 0 50px #090f22;
  }
  ::-webkit-scrollbar {
    background: #11162a;
  }
  ::-webkit-scrollbar-thumb {
    background: #1a213b;
    border-radius: 10px;
    box-shadow: 0 20px 20px #090f22;
  }
  .text {
    background-color: #1a213b;
    border: none;
  }
  .text:hover, .text:focus {
    outline: none;
    border: solid 2px #018ABD;
  }
  input[type=text], input[type=email] {
    color: #97bcdc;
  }
  .name {
    background-color: #2a3568;
  }
  .name .square {
    background-color: #2a3568;
  }
  .name span {
    color: white;
  }
  img {
    filter: drop-shadow(0 5px 15px #090f22);
  }
  button {
    background-color: #1a213b;
  }
}
@media (prefers-color-scheme: light) {
  body {
    background: linear-gradient(45deg, #fff, #e5ebf0) no-repeat fixed;
  }
  h2 {
    color: #2a3568;
  }
  nav, footer {
    background-color: #e5ebf0;
    box-shadow: 0 0 50px #97bcdc;
  }
  ::-webkit-scrollbar {
    background: #e5ebf0;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(244, 247, 246);
    border-radius: 10px;
    box-shadow: 0 20px 20px #97bcdc;
  }
  .text {
    background-color: #e5ebf0;
    border: solid 2px #018ABD;
    color: #2a3568;
  }
  .text:hover, .text:focus {
    outline: none;
    border: solid 2px #2a3568;
  }
  .text-container .name {
    background-color: #97bcdc;
  }
  .text-container .name .square {
    background-color: #97bcdc;
  }
  .text-container .name span {
    color: #2a3568;
  }
  .text-container img {
    filter: drop-shadow(0 5px 15px #97bcdc);
  }
}
@media (max-width: 500px) {
  .nav {
    display: none;
  }
}
@media (max-width: 768px) {
  #name {
    display: none;
  }
  .center {
    position: absolute;
    left: 10%;
  }
  #img {
    opacity: 0;
  }
  .slides {
    flex-wrap: wrap;
  }
  .slides .slide {
    width: 25%;
  }
  form div {
    flex-wrap: wrap;
    margin: 5px;
  }
  form input, form textarea {
    margin: 5px;
    width: 80%;
  }
  form button {
    width: 50%;
  }
}
@media (min-width: 768px) and (max-width: 1980px) {
  form input {
    width: 30%;
    margin: 0 2px 3px 0;
  }
}
header {
  width: 100%;
}

h1 {
  font: 500 108px Bebas Neue;
  color: #018ABD;
  text-transform: uppercase;
  text-shadow: 0 2px 50px rgba(69, 184, 225, 0.4705882353);
  -webkit-animation: title 1s;
          animation: title 1s;
}

h2 {
  font: 500 60px Kanit;
}

h3, p {
  font: normal 28px Varela Round;
  color: #527eb0;
}

p {
  font-size: 20px;
}

a {
  text-decoration: none;
  margin: 0 14px;
  color: #018ABD !important;
}

a:hover, .active {
  color: #97bcdc !important;
}

section {
  margin: 10%;
}

form input {
  height: 50px;
  box-sizing: border-box;
}

textarea {
  width: 60%;
  height: 250px;
  resize: none;
  justify-self: center;
  color: #97bcdc;
}

.text {
  border-radius: 10px;
  transition: ease-in, 0.5s;
  padding: 20px;
}

button {
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 20%;
  margin: 1%;
  transition: ease-in, 0.5s;
}

button:hover {
  background-color: #97bcdc;
}

.text-container img {
  width: 75%;
  transition: ease-in-out, 0.5s;
}
.text-container .name {
  border-radius: 20px;
  text-align: center;
  margin: 10px 0;
  width: 120px;
  opacity: 0;
  transition: ease-in, 0.3s;
}
.text-container .name span {
  position: relative;
  bottom: 25%;
}
.text-container .name .square {
  display: box;
  width: 20px;
  height: 20px;
  position: relative;
  transform: translateX(50px) translateY(30px) rotateZ(45deg);
  z-index: -1;
}

.text-container:hover img {
  filter: drop-shadow(10px 10px 30px #2a3568);
}
.text-container:hover .name {
  opacity: 1;
}

.separator {
  height: 200px;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#name {
  color: #018ABD;
  margin-left: 25px;
  font-size: 30px;
  -webkit-animation: appear-left 1s;
          animation: appear-left 1s;
}

#contact a {
  margin: 10px 50px !important;
  font-size: 18px;
}

footer * {
  margin: 5px 0;
}
footer p {
  text-align: center;
  padding: 30px;
  width: 100%;
}

.primary {
  background-color: #018ABD;
  color: #e5ebf0;
}

.secondary {
  border: 3px solid #018ABD;
  color: #018ABD;
}

@-webkit-keyframes appear-left {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 100%;
  }
}

@keyframes appear-left {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 100%;
  }
}
@-webkit-keyframes title {
  0% {
    transform: scaleY(-1);
    text-shadow: none;
  }
  50% {
    transform: scaleY(1);
    text-shadow: none;
  }
  100% {
    text-shadow: 0 2px 50px rgba(69, 184, 225, 0.4705882353);
  }
}
@keyframes title {
  0% {
    transform: scaleY(-1);
    text-shadow: none;
  }
  50% {
    transform: scaleY(1);
    text-shadow: none;
  }
  100% {
    text-shadow: 0 2px 50px rgba(69, 184, 225, 0.4705882353);
  }
}/*# sourceMappingURL=style.css.map */