.tech{
    background-color: var(--bg-dark);
    width: 40%;
    color: rgb(212 212 216);
    padding: 30px;
    margin: 30px 15px 0 15px;
}
.tech img{
    width: 70px;
    filter: none;
}
.tech h3{
    text-align: left !important;
}
.tech p{
    padding: 0;
    text-align: left;
}
.important{
    color: var(--primary) !important;
}
@media(max-width: 1140px){
    .tech{
        width: 80%;
    }
}
