/* HEADER */
header {
    top: 0;
    padding: 12px 0;
    justify-content: space-between;
    filter: drop-shadow(0 5px 10px var(--shadow));
    background-color: var(--bg-light);
    backdrop-filter: blur(2px);
    border-bottom: 1px solid var(--primary);
}

footer {
    background-color: var(--bg-light);
    border-top: 1px solid var(--primary);
}

header>div a {
    margin-left: 40px;
    width: 40px
}

header>div a img {
    filter: none !important;
    width: inherit;
    transition: .1s ease-in-out
}

header>div a img:hover {
    filter: brightness(1) !important;
    transform: rotateZ(10deg) scale(1.05)
}

.github {
    margin: 0 50px 0 32px !important;
    align-items: center;
    width: 40px;
}

.github img {
    width: 80% !important;
    transition: .1s ease-in-out;
}

header nav {
    display: inherit;
    justify-content: inherit;
    margin-right: 10px;
    align-items: center !important
}

header button {
    width: 50px;
    height: 50px;
    margin: 5px 20px 0 0 !important;
    padding: 0
}

header button:active {
    transform: translateY(-10px)
}

header button::after {
    display: inline-block;
    width: 25px !important;
    height: 25px !important;
    color: transparent !important;
    content: "_";
    background: url("../public/menu.svg") no-repeat center;
}

#navBottom {
    height: 200px;
    top: 67px !important;
    z-index: 2;
    transform: translateY(-200%);
    transition: .5s ease-in-out;
    border-bottom: 3px solid var(--primary);
    justify-content: center;
    align-items: center;
    position: fixed;
    flex-direction: column;
}

.bottom {
    margin: 20px 0 !important;
    font-size: 18px
}

.bottomActive {
    transform: translateY(0) !important
}

.navLink:hover {
    color: var(--light) !important
}

.navLink {
    font-family: Kanit, sans-serif;
    cursor: pointer;
    margin: 0 20px !important;
    text-transform: uppercase;
    transition: .1s linear
}

:is(.navLink, .github img):hover {
    transform: translateY(-3px)
}