@media (prefers-color-scheme:light) {
    :root {
        --bg-dark: #eaeaf2;
        --bg-light: #f0f0f0;
        --text: #03045e;
    }

    .sectionAbout h2,
    .contactSection h2 {
        color: var(--bg-dark) !important;
        opacity: 1 !important;
    }
}