button,
input {
    overflow: visible
}

a,
button,
select {
    background-color: transparent
}

.flex-col {
    flex-direction: column
}

#navBottom,
footer {
    background-color: var(--bg-dark);
    display: flex
}

header>div a,
.flex,
footer,
footer a,
footer div,
header {
    display: flex
}

header button,
[hidden],
template {
    display: none
}

h2,
h3 {
    opacity: .8
}

form input {
    box-sizing: border-box
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    background: linear-gradient(var(--bg-light), var(--bg-dark))
}

main {
    display: block
}

h1 {
    font-size: 2em;
    margin: 1.25rem 0;
    -webkit-animation: 1s title;
    animation: 1s title
}

a {
    text-decoration: none;
    margin: 0 14px
}

img {
    border-style: none
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
select {
    text-transform: none
}

.z-30,
header {
    z-index: 30
}

option,
select {
    padding: 5px 10px !important
}

.fixed {
    position: fixed
}

.w-full,
footer {
    width: 100%
}

.text-center,
footer p {
    text-align: center
}

h1 div span {
    text-transform: uppercase
}

h1 div,
h1 div span {
    display: inline-block
}

.important,
a,
select {
    color: var(--primary) !important
}

h1 div span,
h2 {
    color: var(--primary)
}

p {
    color: var(--text)
}

.card,
img {
    filter: drop-shadow(0 5px 15px var(--shadow))
}

@font-face {
    font-family: Bebas Neue;
    src: url(../font/BebasNeue-Regular.ttf)
}

@font-face {
    font-family: Kanit;
    src: url(../font/Kanit-Regular.ttf)
}

@font-face {
    font-family: Nunito;
    src: url(../font/Nunito-VariableFont_wght.ttf)
}

@font-face {
    font-family: Inter;
    src: url(../font/Inter.ttf)
}

@-webkit-keyframes title {
    0% {
        transform: scaleY(-1);
        text-shadow: none
    }

    50% {
        transform: scaleY(1);
        text-shadow: none
    }

    100% {
        text-shadow: 0 2px 50px var(--title-shadow)
    }
}

@keyframes title {
    0% {
        transform: scaleY(-1);
        text-shadow: none
    }

    50% {
        transform: scaleY(1);
        text-shadow: none
    }

    100% {
        text-shadow: 0 2px 50px var(--title-shadow)
    }
}

:root {
    --primary: #00b4db;
    --light: #0ecbff;
    --bg-dark: #eaeaf2;
    --bg-light: #f0f0f0;
    --text: #03045e;
    --title-shadow: #45b8e178;
    --shadow: rgba(0, 0, 0, 0.1)
}

@media (prefers-color-scheme:dark) {
    :root {
        --bg-dark: #07080a;
        --bg-light: #14181d;
        --text: #f0f0f0
    }
}

* {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-feature-settings: normal
}

::-webkit-scrollbar {
    background: var(--bg-light);
    width: 12px
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    box-shadow: 0 20px 20px var(--shadow);
    width: 12px
}

.space {
    height: 28px !important
}

.sticky,
header {
    position: sticky
}

.top-0 {
    top: 0
}

.top-0\.5 {
    top: .125rem
}

.top-full {
    top: 100%
}

.m-2 {
    margin: .5rem
}

.m-8 {
    margin: 2rem
}

.mx-8 {
    margin-left: 2rem;
    margin-right: 2rem
}

.my-5 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem
}

.my-2 {
    margin-top: .5rem;
    margin-bottom: .5rem
}

.mt-9 {
    margin-top: 2.25rem
}

.h-16 {
    height: 4rem
}

.h-12 {
    height: 3rem
}

.h-screen {
    height: 100vh
}

.w-screen {
    width: 100vw
}

.resize-none {
    resize: none
}

.flex-wrap,
form div {
    flex-wrap: wrap
}

header>div a,
.items-center {
    align-items: center
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.justify-around {
    justify-content: space-around
}

.border-zinc-700 {
    --tw-border-opacity: 1;
    border-color: rgb(63 63 70 / var(--tw-border-opacity))
}

.bg-zinc-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(39 39 42 / var(--tw-bg-opacity))
}

.bg-zinc-900 {
    --tw-bg-opacity: 1;
    background-color: rgb(24 24 27 / var(--tw-bg-opacity))
}

.text-zinc-400 {
    --tw-text-opacity: 1;
    color: rgb(161 161 170 / var(--tw-text-opacity))
}

.hover\:text-light:hover,
.text-light {
    --tw-text-opacity: 1;
    color: rgb(70 162 204 / var(--tw-text-opacity))
}

.text-primary {
    --tw-text-opacity: 1;
    color: rgb(0 142 230 / var(--tw-text-opacity))
}

.shadow-xl {
    --tw-shadow: 0 20px 25px -5px var(--shadow), 0 8px 10px -6px var(--shadow);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms
}

.navLink,
footer a {
    transition: .1s linear
}

.hover\:-translate-y-1:hover {
    --tw-translate-y: -0.25rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.hover\:text-blue-300:hover {
    --tw-text-opacity: 1;
    color: rgb(147 197 253 / var(--tw-text-opacity))
}

@media(max-width:768px) {
    header button {
        display: block !important
    }

    header nav {
        display: none !important
    }
}

select {
    margin-right: 30px !important;
    font-family: Kanit !important
}

option {
    background-color: #18181b
}

option,
select {
    border: none;
    outline: 0
}

footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--shadow)
}

footer p {
    width: fit-content;
    margin: 5px 0;
    font-size: 19px !important
}

h1 div span {
    font-family: Bebas Neue, none !important;
    font-weight: 500;
    font-size: 120px;
    text-shadow: 0 2px 50px var(--title-shadow), 0 5px 15px var(--shadow);
    transition: .2s linear;
    animation: 6s infinite jump
}

h1 span:hover {
    filter: brightness(160%);
    text-shadow: 0 2px 40px #0ecbff99, 0 5px 15px var(--shadow)
}

h1 :first-child :first-child {
    animation-delay: 1s
}

h1 :first-child :nth-child(2) {
    animation-delay: 1.2s
}

h1 :first-child :nth-child(3) {
    animation-delay: 1.3s
}

h1 :first-child :nth-child(4) {
    animation-delay: 1.4s
}

h1 :first-child :nth-child(5) {
    animation-delay: 1.5s
}

h1 :first-child :nth-child(6) {
    animation-delay: 1.6s
}

h1 :nth-child(3) :first-child {
    animation-delay: 1.8s
}

h1 :nth-child(3) :nth-child(2) {
    animation-delay: 1.9s
}

h1 :nth-child(3) :nth-child(3) {
    animation-delay: 2s
}

h1 :nth-child(3) :nth-child(4) {
    animation-delay: 2.1s
}

h1 :nth-child(3) :nth-child(5) {
    animation-delay: 2.2s
}

h1 :nth-child(3) :nth-child(6) {
    animation-delay: 2.3s
}

h1 :nth-child(3) :nth-child(7) {
    animation-delay: 2.4s
}

h1 :nth-child(3) :nth-child(8) {
    animation-delay: 2.5s
}

@keyframes jump {

    0%,
    100%,
    25% {
        transform: translateY(0)
    }

    8% {
        transform: translateY(-20px) rotateX(20deg);
        filter: brightness(130%)
    }

    15% {
        transform: translateY(20px) rotateX(-20deg);
        filter: brightness(100%)
    }
}

h2 {
    font: 500 60px Kanit !important
}

h3 {
    font-size: 28px !important;
    font-weight: 400;
    color: var(--text) !important;
    text-shadow: 0 6px 3px rgba(0, 0, 0, 0.3);
}

input::placeholder,
p,
textarea::placeholder {
    font-family: Inter, sans-serif
}

p {
    text-align: left;
    font-size: 19px !important;
    opacity: .6 !important;
    padding: 25px 0
}

@media(max-width:500px) {

    h1,
    h2,
    h3 {
        text-align: center
    }

    h1 {
        font-size: 90px !important
    }

    #cont {
        padding: 0;
        margin: 30px 0
    }
}

section {
    padding: 10%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content
}

button {
    border: none;
    border-radius: 5px;
    height: 50px;
    margin: 5px !important;
    transition: ease-in, .5s;
    cursor: pointer
}

.primary {
    background-color: var(--primary) !important;
    color: rgb(212 212 216);
    font-weight: 700
}

.primary:focus,
.primary:hover {
    background-color: var(--light) !important
}

.secondary {
    border: 2px solid var(--primary) !important;
    color: var(--primary) !important;
    background-color: transparent
}

.tech,
form input,
form textarea {
    background-color: var(--bg-dark)
}

.secondary:focus,
.secondary:hover {
    color: var(--light) !important;
    border-color: var(--light) !important
}

.tech {
    border-radius: 5px;
    width: 40%;
    color: rgb(212 212 216);
    padding: 30px;
    margin: 30px 15px 0
}

@media (max-width:700px) {
    #navBottom {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly
    }
}

@media (max-width:500px) {
    footer p {
        margin: 5px 20px
    }

    h1 span {
        font-size: 90px !important
    }

    h1>:nth-child(2) {
        display: none
    }

    .card {
        flex-direction: column-reverse
    }

    .card div {
        width: auto !important;
        margin: 20px 0
    }

    .card div div {
        display: flex;
        flex-direction: column
    }

    p {
        padding-left: 0 !important;
        padding-right: 0 !important
    }

    form button {
        margin: 10px
    }
}

@media (min-width:768px) {
    #navBottom {
        display: none
    }
}

@media (min-width:1140px) {
    .card {
        flex-direction: row !important
    }
}

@media (min-width:500px) and (max-width:768px) {
    .wrapper {
        opacity: 0
    }

    .card {
        flex-direction: column-reverse
    }
}

@media (max-width:400px) {
    h1 span {
        font-size: 76px !important
    }

    h2 {
        font-size: 60%;
        margin-bottom: 0 !important
    }
}

.tech img {
    width: 70px;
    filter: none
}

.tech h3 {
    text-align: left !important
}

.tech p {
    padding: 0;
    text-align: left
}

@media(max-width:1140px) {
    .tech {
        width: 80%
    }
}

form input,
form textarea {
    color: var(--primary);
    resize: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    transition: ease-in, .5s;
    padding: 20px;
    border: none
}

form input:focus,
form textarea:focus {
    border: none;
    outline: 0;
    color: var(--light)
}

.card,
.card img {
    border-radius: 15px
}

form input:focus::placeholder,
form textarea:focus::placeholder {
    opacity: 0
}

textarea {
    overflow: auto;
    height: 250px;
    width: calc(60% - 30px) !important
}

form input {
    width: 30%;
    margin: 5px;
    height: 50px
}

form button {
    width: 20%
}

@media (max-width:768px) {
    textarea {
        width: calc(80% - 30px) !important
    }

    form input {
        width: 80%;
        transform: translateX(-5px)
    }

    form div {
        margin: 5px
    }

    form button {
        width: 50%
    }
}

.card {
    width: 40%
}

.card img {
    width: 100%;
    filter: none;
    transition: -webkit-filter .3s ease-in-out, filter .3s ease-in-out
}

.card img:hover {
    filter: grayscale(100%) brightness(70%);
    cursor: pointer
}

.card button {
    width: 100% !important;
    height: 100% !important
}

@media (max-width:900px) {
    .card {
        width: 500px !important
    }
}