/* H1 : Main title */
h1 {
    font: 500 120px Bebas Neue !important;
    color: var(--primary);
    text-transform: uppercase;
    text-shadow: 0 2px 50px rgba(69, 184, 225, 0.4705882353), 0 5px 15px rgba(0,0,0);
    -webkit-animation: title 1s;
    animation: title 1s;
}

/* H2 : Section title*/

h2 {
    font: 500 60px Kanit !important;
    color: var(--primary);
}
/* H3 : Subtitle */
h3{
    font-size: 28px !important;
}
/* PARAGRAPHS */

p,
textarea::placeholder,
input::placeholder{
    font-family: Nunito, sans-serif;
}
@media(max-width: 500px){
    h1{
        font-size: 90px !important;
        text-align: center;
    }
    h3,h2{
        text-align: center;
    }
    #cont{
        padding: 0;
        margin: 30px 0;
    }
}
section {
    margin: 10%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}
/* BUTTONS */

button {
    border: none;
    border-radius: 5px;
    height: 50px;
    margin: 5px !important;
    transition: ease-in, 0.5s;
}
.primary {
    background-color: var(--primary) !important;
    color: #e5ebf0;
}
.secondary {
    border: 2px solid var(--primary) !important;
    color: var(--primary) !important;
    background-color: transparent;
}


#pfp{
    opacity: 0;
    width: 50%;
    height: 60%;
    position: absolute;
    right: 10%;
    top: 20%;
    z-index: -1;
}