/* H1 : Main title */
h1 {
    font: 500 120px Bebas Neue !important;
    color: var(--primary);
    text-transform: uppercase;
    text-shadow: 0 2px 50px rgba(69, 184, 225, 0.4705882353), 0 5px 15px rgba(0,0,0);
    -webkit-animation: title 1s;
    animation: title 1s;
}

/* H2 : Section title*/

h2 {
    font: 500 60px Kanit !important;
    color: var(--primary);
}
/* H3 : Subtitle */

h3{
    font-size: 28px !important;
    font-weight: normal;
}

/* PARAGRAPHS */

p,
textarea::placeholder,
input::placeholder{
    font-family: Nunito, sans-serif;
}
@media(max-width: 500px){
    h1{
        font-size: 90px !important;
        text-align: center;
    }
    h3,h2{
        text-align: center;
    }
    #cont{
        padding: 0;
        margin: 30px 0;
    }
}
section {
    margin: 10%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}
/* BUTTONS */

button {
    border: none;
    border-radius: 5px;
    height: 50px;
    margin: 5px !important;
    transition: ease-in, 0.5s;
    background-color: transparent;
    cursor: pointer;
}
.primary {
    background-color: var(--primary) !important;
    color: #e5ebf0;
}
.secondary {
    border: 2px solid var(--primary) !important;
    color: var(--primary) !important;
    background-color: transparent;
}


#pfp{
    opacity: 0;
    width: 50%;
    height: 60%;
    position: absolute;
    right: 10%;
    top: 20%;
    z-index: -1;
}
textarea {
    height: 250px;
}

.text {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    transition: ease-in, 0.5s;
    padding: 20px;
    border: none;
}

img {
    filter: drop-shadow(0 5px 15px #121212);
}

a {
    margin: 0 14px;
    color: var(--primary) !important;
}

@media (max-width: 700px){
    #navBottom{
        display: block;
    }
    #pfp{
        display: none;
    }
}    
@media (min-width: 700px){
    #navBottom{
        display: none;
    }
}
@media (max-width: 500px) {
    form div {
        flex-wrap: wrap;
        margin: 5px;
    }
    form input,
    form textarea {
        margin: 5px;
        width: 80%;
    }
    form input {
        transform: translateX(-5px);
    }
    form button {
        width: 50%;
        margin: 10px;
    }
    #contact a {
        margin: 5px auto;
    }
    h1 {
        font-size: 76px !important;
    }
    .card{
        flex-direction: column-reverse;
    }
    .card div{
        width: auto !important;
        margin: 20px 0;
    }
    .card div div{
        display: flex;
        flex-direction: column;
    }
    p{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
@media (min-width: 500px) and (max-width: 768px) {
    .wrapper {
        opacity: 0;
    }
    form div {
        flex-wrap: wrap;
        margin: 5px;
    }
    form input,
    form textarea {
        margin: 5px;
        width: 80%;
    }
    form input {
        transform: translateX(-5px);
    }
    form button {
        width: 50%;
    }
    .card{
        flex-direction: column-reverse;
    }
    .card div{
        width: auto !important;
        margin: 20px 0;
    }
}
@media (min-width: 768px) and (max-width: 1140px) {
    form input {
        width: 40%;
        margin: 0 2px 3px 0;
    }

    #contact button {
        width: 30%;
    }
    textarea{
        width: 80%;
    }
    .card{
        flex-direction: column-reverse;
    }
    .card div{
        width: auto !important;
        margin: 20px 0;
    }
}
@media (min-width: 1140px) {
    form input {
        width: 30%;
        height: 50px;
        box-sizing: border-box;
        margin: 5px 2.5px;
    }

    form div {
        flex-wrap: wrap;
    }

    form button {
        width: 20%;
    }

    textarea {
        width: 60% !important;
    }

    #contact a {
        margin: 10px 50px;
    }
}