/* H1 : Main title */
h1{
    -webkit-animation: title 1s;
    animation: title 1s;
}
h1 div span{
    font-family: Bebas Neue !important;
    font-weight: 500;
    font-size: 120px;
    color: var(--primary);
    text-transform: uppercase;
    text-shadow: 0 2px 50px rgba(69, 184, 225, 0.4705882353), 0 5px 15px rgba(0,0,0);
    display: inline-block;
    transition: all 0.2s linear;
    animation: jump 06s infinite ;
}
h1 span:hover{
    filter: brightness(160%);
    text-shadow: 0 2px 40px rgba(14, 203, 255, 0.6), 0 5px 15px rgba(0,0,0);
}
h1 div{
    display: inline-block;
}
h1 :nth-child(1) :nth-child(1){
    animation-delay: 1s;
}
h1 :nth-child(1) :nth-child(2){
    animation-delay: 1.2s;
}
h1 :nth-child(1) :nth-child(3){
    animation-delay: 1.3s;
}
h1 :nth-child(1) :nth-child(4){
    animation-delay: 1.4s;
}
h1 :nth-child(1) :nth-child(5){
    animation-delay: 1.5s;
}
h1 :nth-child(1) :nth-child(6){
    animation-delay: 1.6s;
}

h1 :nth-child(3) :nth-child(1){
    animation-delay: 1.8s;
}
h1 :nth-child(3) :nth-child(2){
    animation-delay: 1.9s;
}
h1 :nth-child(3) :nth-child(3){
    animation-delay: 2s;
}
h1 :nth-child(3) :nth-child(4){
    animation-delay: 2.1s;
}
h1 :nth-child(3) :nth-child(5){
    animation-delay: 2.2s;
}
h1 :nth-child(3) :nth-child(6){
    animation-delay: 2.3s;
}
h1 :nth-child(3) :nth-child(7){
    animation-delay: 2.4s;
}
h1 :nth-child(3) :nth-child(8){
    animation-delay: 2.5s;
}
@keyframes jump {
    0%{
        transform: translateY(0);
    }
    8%{
        transform: translateY(-20px) rotateX(20deg);
        filter: brightness(130%);
    }
    15%{
        transform: translateY(20px) rotateX(-20deg);
        filter: brightness(100%);
    }
    25%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(0);
    }
}

/* H2 : Section title*/

h2 {
    font: 500 60px Kanit !important;
    color: var(--primary);
}
/* H3 : Subtitle */

h3{
    font-size: 28px !important;
    font-weight: normal;
}

/* PARAGRAPHS */

p,
textarea::placeholder,
input::placeholder{
    font-family: Nunito, sans-serif;
}
p{
    text-align: left;
    font-size: 19px !important;
    padding: 25px;
    color: #d4d4d8;
}
a{
    text-decoration: none;
}
@media(max-width: 500px){
    h1{
        font-size: 90px !important;
        text-align: center;
    }
    h3,h2{
        text-align: center;
    }
    #cont{
        padding: 0;
        margin: 30px 0;
    }
}
section {
    margin: 10%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}


/* BUTTONS */

button {
    border: none;
    border-radius: 5px;
    height: 50px;
    margin: 5px !important;
    transition: ease-in, 0.5s;
    background-color: transparent;
    cursor: pointer;
}
.primary {
    background-color: var(--primary) !important;
    color: rgb(212 212 216);
    font-weight: bold;
}
.primary:hover, .primary:focus{
    background-color: var(--light) !important;
}
.secondary {
    border: 2px solid var(--primary) !important;
    color: var(--primary) !important;
    background-color: transparent;
}
.secondary:hover, .secondary:focus{
    color: var(--light) !important;
    border-color: var(--light) !important;
}

#pfp{
    opacity: 0;
    width: 50%;
    height: 60%;
    position: absolute;
    right: 10%;
    top: 20%;
    z-index: -1;
}

img {
    filter: drop-shadow(0 5px 15px #121212);
}

a {
    margin: 0 14px;
    color: var(--primary) !important;
}

@media (max-width: 700px){
    #navBottom{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    #pfp{
        display: none;
    }
}    


@media (max-width: 500px) {
    h1 span{
        font-size: 90px !important;
    }
    h1 > :nth-child(2){
        display: none;
    }
    .card{
        flex-direction: column-reverse;
    }
    .card div{
        width: auto !important;
        margin: 20px 0;
    }
    .card div div{
        display: flex;
        flex-direction: column;
    }
    p{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
@media (min-width: 768px){
    #navBottom{
        display: none;
    }
    
}
@media (min-width: 1140px){
    .card{
        flex-direction: row !important;
    }
}
@media (min-width: 500px) and (max-width: 768px) {
    .wrapper {
        opacity: 0;
    }
    .card{
        flex-direction: column-reverse;
    }
    
}
@media (max-width: 400px){
    h1 span{
        font-size: 76px !important;
    }
    h2{
        font-size: 60%;
        margin-bottom: 0 !important;
    }
}