#navBottom {
    position: fixed;
    height: 250px;
    top: 67px !important;
    z-index: 2;
    transform: translateY(-200%);
    transition: 0.5s ease-in-out;
    border-bottom: 3px solid var(--primary);
}
.bottom{
    margin: 15px 0 !important;
    height: 25%;
    font-size: 18px;
    margin-top: 25px;
}
.bottomActive{
    transform: translateY(0) !important;
}