header{
    display: flex;
    position: sticky; 
    top: 0;
    z-index: 30;
    padding: 6px 0;
    justify-content: space-between;
}
#logo{
    display: flex;
    align-items: center;
    margin-left: 40px;
    width: 50px;
}
#logo img{
    filter: none !important;
}
header nav{
    display: inherit;
    justify-content: inherit;
    margin-right: 10px;
    align-items: center !important;
}
.navLink{
    margin: 0 32px !important;
    transition: linear 0.1s;
    font-family: 'Kanit', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}
.navLink:hover{
    transform: translateY(-3px);
}
#navDropdown {
    display: none;
    width: 50px;
    height: 50px;
    margin: 5px 20px 0 0 !important;
    padding: 0;
}
#navDropdown:active {
    background-color: #1a213b !important;
    transform: translateY(-10px);
}
@media(max-width:768px){
    #navDropdown{
        display: block !important;
    }
    header nav{
        display: none !important;
    }
}
select{
    background-color: transparent;
    padding: 5px 10px !important;
    color: var(--primary) !important;
    margin-right: 30px !important;
    font-family: Kanit !important;
}
option{
    background-color: #18181B;
    padding: 5px 10px !important;
}
optgroup,option,select{
    border: none;
    outline: none;
}
.active {
    color: #97bcdc !important;
}
#icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
