
h1 {
    font: 500 120px Bebas Neue !important;
    color: var(--primary);
    text-transform: uppercase;
    text-shadow: 0 2px 50px rgba(69, 184, 225, 0.4705882353), 0 5px 15px rgba(0,0,0);
    -webkit-animation: title 1s;
    animation: title 1s;
}
p,textarea::placeholder,input::placeholder{
    font-family: Nunito, sans-serif;
}