footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-top: 1px solid;
    background-color: var(--bg-dark);
}
footer div{
    display: flex;
    width: 80%;
    justify-content: center;
    margin: 30px 20px;
}
footer div img {
    width: 40px;
    filter: none;
    margin: 0 10px;
    fill: #d4d4d8;
}
footer p{
    width: fit-content;
    margin: 5px 0;
    text-align: center;
    font-size: 19px !important;
    padding: 25px;
    color: #d4d4d8;
}
footer a{
    display: flex;
    align-items: center;
    transition: 0.1s linear;
}
footer a:hover{
    transform: translateY(-3px);
    filter: drop-shadow(0 10px 20px rgba(0,0,0,0.4));
}
@media (max-width: 500px){
    footer div img{
        margin: 0;
    }
    footer p{
        margin: 5px 20px;
    }
}