.card{
    width: 45%;
    margin: 20px 0;
    border-radius: 15px;
    filter:  drop-shadow(0 5px 15px #121212);
}
.card img{
    width: 100%;
    border-radius: 15px; 
    filter: none;
    transition: -webkit-filter ease-in-out .3s, filter ease-in-out .3s;
}
.card img:hover{
    filter: grayscale(100%) brightness(70%);
    cursor: pointer;
}
.card button{
    width: 100% !important;
    height: 100% !important;
}
@media (max-width: 900px){
    .card{
        width: 500px !important;
    }
}