.slide{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: ease-in, 0.5s;
}
.slide:hover {
    transform: translateY(-5px);
}
.slide img {
    width: 75%;
    transition: ease-in-out, 0.5s;
}
.slide .name {
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    text-align: center;
    margin: 10px 0;
    width: 120px;
    opacity: 0;
    transition: ease-in, 0.3s;
    background-color: #2a3568;
}
.slide .name span {
    color : white;
    position: relative;
    bottom: 25%;
}
.slide .name .square {
    display: block;
    width: 20px;
    height: 20px;
    position: relative;
    transform: translateX(50px) translateY(30px) rotateZ(45deg);
    z-index: -1;
    background-color: #2a3568;
}
.slide:hover img {
    filter: drop-shadow(10px 10px 30px #202020);
}
.slide:hover .name {
    opacity: 1;
}
@media(min-width:1140px){
    .slide{
        width: 14% !important;
    }
}
@media(max-width:500px){
    .slide{
        width: 33% !important;
    }
}